name: CI/CD Pipeline

on:
  push:
    branches: [ "release" ]

jobs:

  test:
    name: Build & Test (.NET Framework)
    runs-on: [self-hosted, windows]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Allow PowerShell scripts
        run: Set-ExecutionPolicy RemoteSigned -Scope Process

      - name: Restore NuGet packages
        run: nuget restore PartsUnlimited-aspnet45/PartsUnlimited.sln

      - name: Build solution (Release | Any CPU)
        run: msbuild PartsUnlimited-aspnet45/PartsUnlimited.sln /p:Configuration=Release /p:Platform="Any CPU"

  build:
    name: Docker Build & Push
    needs: test
    runs-on: [self-hosted, windows]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Publish ASP.NET 4.5 website
        run: msbuild PartsUnlimited-aspnet45/PartsUnlimited.sln /p:Configuration=Release /p:Platform="Any CPU" /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:publishUrl="PartsUnlimited-aspnet45/src/PartsUnlimitedWebsite/bin/Release/publish"

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }} .
          docker tag ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/my-app:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/my-app:latest

  deploy:
    name: Azure Deployment
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Container to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "my-azure-webapp"
          images: "${{ secrets.DOCKER_USERNAME }}/my-app:latest"
