name: CI Build PartsUnlimited

on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.1.1

    - name: Restore NuGet packages
      run: nuget restore $env:GITHUB_WORKSPACE\PartsUnlimited.sln

    - name: Build solution
      uses: microsoft/setup-msbuild@v1.1
    - run: msbuild $env:GITHUB_WORKSPACE\PartsUnlimited.sln /p:Configuration=Release /p:Platform="Any CPU"

    - name: Run Unit Tests
      shell: pwsh
      run: |
        $testAssemblies = Get-ChildItem -Path "$env:GITHUB_WORKSPACE\**\bin\R**_
