name: CI-CD Pipeline

on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: List files for debug
      run: dir /s

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Restore NuGet packages
      run: nuget restore PartsUnlimited-aspnet45/PartsUnlimited.sln

    - name: Build solution
      run: msbuild PartsUnlimited-aspnet45/PartsUnlimited.sln /p:Configuration=Release /p:Platform="Any CPU"

    - name: Run Unit Tests
      run: |
        echo "Running MSTest tests..."
        vstest.console.exe PartsUnlimited-aspnet45\test\PartsUnlimited.UnitTests\bin\Release\PartsUnlimited.UnitTests.dll

    - name: Publish Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: TestResults
        path: PartsUnlimited-aspnet45/test/PartsUnlimited.UnitTests/TestResults/
