name: CI-CD

on:
  push:
    branches:
      - release
  pull_request:

jobs:

  test:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: List repo files
        run: Get-ChildItem -Path $env:GITHUB_WORKSPACE -Recurse
        shell: pwsh

      - name: Install .NET Framework 4.6.1 Dev Pack
        run: choco install netfx-4.6.1-devpack -y

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Restore NuGet Packages
        run: |
          cd "$env:GITHUB_WORKSPACE\PartsUnlimited-aspnet45"
          nuget restore PartsUnlimited.sln
        shell: pwsh

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build Website and Tests
        run: |
          cd "$env:GITHUB_WORKSPACE\PartsUnlimited-aspnet45"
          # Build Website
          msbuild "src\PartsUnlimitedWebsite\PartsUnlimitedWebsite.csproj" /t:Rebuild /p:Configuration=Release
          # Build Tests
          msbuild "test\PartsUnlimited.UnitTests\PartsUnlimited.UnitTests.csproj"
