name: CI

on:
  push:
    branches: [ "release" ]
  pull_request:
    branches: [ "release" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x' 

    - name: Find solution file
      id: find_sln
      shell: pwsh
      run: |
        $slnFiles = Get-ChildItem -Path $env:GITHUB_WORKSPACE -Recurse -Filter "*.sln"
        if ($slnFiles.Count -eq 0) {
            Write-Error "Aucun fichier .sln trouvé dans le repository !"
            exit 1
        } else {
            Write-Host "Fichier .sln trouvé : $($slnFiles[0].FullName)"
            echo "sln_path=$($slnFiles[0].FullName)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8
        }

    - name: Restore NuGet packages
      shell: pwsh
      run: dotnet restore $env:sln_path

    - name: Build solution
      shell: pwsh
      run: dotnet build $env:sln_path --configuration Release --no-restore

    - name: Run tests
      shell: pwsh
      run: dotnet test $env:sln_path --no-build --verbosity normal

    - name: Publish build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: '**/bin/Release/**'
