name: CI

on:
  push:
    branches:
      - release
  pull_request:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install .NET Framework 4.6.1 Dev Pack
        run: choco install netfx-4.6.1-devpack -y

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Restore NuGet Packages
        run: |
          $slnPath = "$env:GITHUB_WORKSPACE\PartsUnlimited-aspnet45\PartsUnlimited.sln"
          nuget restore $slnPath
        shell: pwsh

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Run Unit Tests
        run: |
          $testDll = "$env:GITHUB_WORKSPACE\PartsUnlimited-aspnet45\tests\PartsUnlimited.Tests\bin\Release\PartsUnlimited.Tests.dll"
          & "C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" $testDll
        shell: pwsh

  build:
    needs: test
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Website Only (Skip DepValidation)
        run: |
          msbuild "$env:GITHUB_WORKSPACE\PartsUnlimited-aspnet45\src\PartsUnlimitedWebsite\PartsUnlimitedWebsite.csproj" `
            /t:Rebuild /p:Configuration=Release
        shell: pwsh

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t my-dockerhub-username/partsunlimited:${{ github.sha }} .
          docker tag my-dockerhub-username/partsunlimited:${{ github.sha }} my-dockerhub-username/partsunlimited:latest

      - name: Push Docker Image
        run: |
          docker push my-dockerhub-username/partsunlimited:${{ github.sha }}
          docker push my-dockerhub-username/partsunlimited:latest

  deploy:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'my-azure-webapp'
          images: 'my-dockerhub-username/partsunlimited:latest'
