name: CI-CD PartsUnlimitedE2E

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: List files in workspace
      shell: pwsh
      run: |
        Write-Host "GITHUB_WORKSPACE = $env:GITHUB_WORKSPACE"
        Get-ChildItem -Path $env:GITHUB_WORKSPACE -Recurse

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Restore NuGet packages
      shell: pwsh
      run: |
        # Mettre le chemin correct vers le fichier .sln détecté précédemment
        $slnPath = "$env:GITHUB_WORKSPACE\PartsUnlimitedE2E\PartsUnlimited.sln"
        if (Test-Path $slnPath) {
            dotnet restore $slnPath
        } else {
            Write-Error "Le fichier .sln n'a pas été trouvé: $slnPath"
            exit 1
        }

    - name: Build solution
      shell: pwsh
      run: |
        dotnet build "$env:GITHUB_WORKSPACE\PartsUnlimitedE2E\PartsUnlimited.sln" --configuration Release

    - name: Run tests
      shell: pwsh
      run: |
        dotnet test "$env:GITHUB_WORKSPACE\PartsUnlimitedE2E\PartsUnlimited.sln" --no-build --verbosity normal

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: |
          $env:GITHUB_WORKSPACE\PartsUnlimitedE2E\**\bin\Release\
